/* color veriable */
$brand_color:#2AB080;
$dark_green:#0B6852;
$white:#ffffff;
$off_white:#D9D9D9;
$black:#000000;
$light_black:#949494;
/* dark_mode_color */

/* font name */
$Noto-Thin:'Noto-Thin';
$Noto-ExtraLight:'Noto-ExtraLight';
$Noto-Light:'Noto-Light';
$Noto-Regular:'Noto-Regular';/* 400 */
$Noto-Medium:'Noto-Medium';/* 500 */
$Noto-SemiBold:'Noto-SemiBold';/* 600 */
$Noto-Bold:'Noto-Bold';/* 700 */
$Noto-ExtraBold:'Noto-ExtraBold';/* 800 */
$Noto-Black:'Noto-Black';
//////////////////////////////
$bn:'bangla-font';
$ar:'arabic';
/* border */
$border: 0px solid red;
