// Noto font start
@font-face {
  font-family: "Noto-Thin";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-Thin.ttf");
}
@font-face {
  font-family: "Noto-ExtraLight";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-ExtraLight.ttf");
}
@font-face {
  font-family: "Noto-Light";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-Light.ttf");
}
@font-face {
  font-family: "Noto-Regular";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-Regular.ttf");
}
@font-face {
  font-family: "Noto-Medium";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-Medium.ttf");
}
@font-face {
  font-family: "Noto-SemiBold";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-SemiBold.ttf");
}

@font-face {
  font-family: "Noto-Bold";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-Bold.ttf");
}

@font-face {
  font-family: "Noto-ExtraBold";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-ExtraBold.ttf");
}

@font-face {
  font-family: "Noto-Black";
  src: url("../fonts/Noto_Serif_Bengali/static/NotoSerifBengali-Black.ttf");
}
// Noto font end

@font-face {
  font-family: "bangla-font";
  src: url("../fonts/bangla_font/TiroBangla-Regular.ttf");
}

@font-face {
  font-family: "arabic";
  src: url("../fonts/bangla_font/TiroBangla-Regular.ttf");
}

